@(contacts: List[Contact])

@main("SalesForce Contacts") {

    @for(contact <- contacts){
        Name: @contact.getLastName <br />
        Firstname: @contact.getFirstName <br />
        Email: @contact.getEmail <br />
        MailingStreet: @contact.getMailingStreet <br />
        SalutationTitle: @contact.getSalutationTitle <br />
        Account: @contact.getAccountName <br />
        Website: @contact.getAccountWebsite <br />
        Phone: @contact.getAccountPhone <br />
        Reports To: @contact.getReportsToName <br />
        Edited: @contact.getLastModifiedDate <br /><br />
    }

}
