@(accounts: List[models.APIConfig], mailForm: Form[models.APIConfig])


@import helper._

    @main("GMailAccounts") {

        <h1>@accounts.size() account(s)</h1>

        <ul>
        @for(account <- accounts) {
            <li>
                <ul>
                    <li>@account.getId</li>
                    <li>@account.getMail()</li>
                    <li>@account.getClientID</li>
                    <li>@account.getClientSecret()</li>
                    <li>@account.getAccessToken()</li>
                    <li>@account.getRefreshToken()</li>
                    <li>@account.getProvider</li>
                </ul>
                @form(routes.GMailController.deleteMail(account.getId())) {
                    <input type="submit" value="Delete">
                    }
                @form(routes.GMailController.authorize(account.getId())) {
                    <input type="submit" value="authorize">
                    }
                @form(routes.GMailController.insertContact(account.getId())) {
                    <input type="submit" value="insert Contact">
                }
            </li>
        }
        </ul>

        <h2>Add a gmail Account</h2>

        @form(routes.GMailController.newMail()) {

            @inputText(mailForm("clientId"))
            @inputText(mailForm("clientSecret"))

            <input type="submit" value="Create">

        }

    }