@(accounts: List[models.gmail.GMailAccount], mailForm: Form[models.gmail.GMailAccount])


@import helper._

    @main("GMailAccounts") {

        <h1>@accounts.size() account(s)</h1>

        <ul>
        @for(account <- accounts) {
            <li>
                <ul>
                    <li>@account.id</li>
                    <li>@account.getEmail_address()</li>
                    <li>@account.getClient_id</li>
                    <li>@account.getClient_secret()</li>
                    <li>@account.getAccess_token()</li>
                    <li>@account.getRefresh_token()</li>
                </ul>
                @form(routes.GMailController.deleteMail(account.id)) {
                    <input type="submit" value="Delete">
                    }
                @form(routes.GMailController.authorize(account.id)) {
                    <input type="submit" value="authorize">
                    }
                @form(routes.GMailController.service(account.id)) {
                    <input type="submit" value="service">
                    }
                @form(routes.GMailController.insertContact(account.id)) {
                    <input type="submit" value="insert Contact">
                }
            </li>
        }
        </ul>

        <h2>Add a gmail Account</h2>

        @form(routes.GMailController.newMail()) {

            @inputText(mailForm("email_address"))
            @inputText(mailForm("client_id"))
            @inputText(mailForm("client_secret"))

            <input type="submit" value="Create">

        }

    }