@(accounts: List[models.APIConfig],
        mailForm: Form[models.APIConfig],
        settings: models.Settings,
        settingsForm: Form[models.Settings])
@import models.ServiceProvider.GMAIL
@import models.ServiceProvider.GOOGLEPHONE
@import models.ServiceProvider.SALESFORCE
@import models.ServiceProvider.JIRA
@import models.ServiceProvider.CONFLUENCE



@import helper._

@main("ESC") {

    <h1>Settings</h1>
    @form(action = routes.AccountController.setSettings(), args = 'class -> "aui") {
        <div class="field-group">
            <label for="serverUrl">Server URL</label>
            <input class="text" type="text" id="serverUrl" name="serverUrl" value="@settings.getServerUrl">
            <a href="#" id="serverurlDialog">
                <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
            </a>
        </div>
        <div class="field-group">
            <label for="domain">Google Enterprise Domain</label>
            <input class="text" type="text" id="domain" name="domain" value="@settings.getDomain()">
            <a href="#" id="googledomainDialog">
                <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
            </a>
        </div>
        <div class="field-group">
            <label for="jiraUrl">Jira Url</label>
            <input class="text" type="text" id="jiraUrl" name="jiraUrl" value="@settings.getJiraUrl()">
        </div>
        <div class="field-group">
            <label for="confluenceUrl">Confluence Url</label>
            <input class="text" type="text" id="confluenceUrl" name="confluenceUrl" value="@settings.getConfluenceUrl()">
        </div>
        <div class="field-group">
            <label for="saveInDirectory">Google Contacts Folder</label>
            <select class="select" id="saveInDirectory" name="saveInDirectory">
                <option value="false">Personal Contacts Folder</option>
                <option value="true">Enterprise Directory Folder</option>
            </select>
            <a href="#" id="contactfolderDialog">
                <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
            </a>
        </div>
        <div class="field-group">
            <label for="cronExpression">Quartz Cron Expression</label>
            <input class="text" type="text" id="cronExpresson" name="cronExpression" value="@settings.getCronExpression()">
            <a href="#" id="cronDialog">
                <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
            </a>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save">
            </div>
        </div>
    }

    <h1>Accounts
        <a href="/help/provider?provider=SALESFORCE" id="providerHelp">
            <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
        </a>
    </h1>


    @form(routes.AccountController.save(SALESFORCE.toString()), args = 'class -> "aui", 'name -> (SALESFORCE+"form"), 'id -> (SALESFORCE+"form")) {
    }
    @form(routes.AccountController.save(GMAIL.toString), args = 'class -> "aui", 'name -> (GMAIL+"form"), 'id -> (GMAIL+"form")) {
    }
    @form(routes.AccountController.save(GOOGLEPHONE.toString), args = 'class -> "aui", 'name -> (GOOGLEPHONE+"form"), 'id -> (GOOGLEPHONE+"form")) {
    }
    @form(routes.AccountController.save(JIRA.toString), args = 'class -> "aui", 'name -> (JIRA+"form"), 'id -> (JIRA+"form")) {
    }
    @form(routes.AccountController.save(CONFLUENCE.toString), args = 'class -> "aui", 'name -> (CONFLUENCE+"form"), 'id -> (CONFLUENCE+"form")) {
    }

    <table class="aui table-mini">
        <thead>
            <tr>
                <th>Provider</th>
                <th style="min-width: 500px;">Client Id</th>
                <th style="max-width: 250px;">Client Secret</th>
                <th style="min-width: 125px;">Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        @for(account <- accounts) {
            <tr>
                <td>@account.getProvider</td>
                <td class="textCell@account.getProvider">@account.getClientId</td>
                @if(account.getProvider().equals(ServiceProvider.CONFLUENCE)) {
                    <td class="textCell@account.getProvider table-overflow">* * * * *</td>
                } else {
                    <td class="textCell@account.getProvider table-overflow">@account.getClientSecret</td>
                }

                <td class="editCell@account.getProvider editCell" style="display: none">
                    <input class="text text-long" type="text" id="clientId@account.getProvider" name="clientId" form="@account.getProvider()form" value="@account.getClientId">
                </td>
                @if(account.getProvider().equals(ServiceProvider.CONFLUENCE)) {
                    <td class="editCell@account.getProvider editCell" style="display: none">
                        <input class="text text-middle" type="text" id="clientSecret@account.getProvider" name="clientSecret" form="@account.getProvider()form" value="enter a new password">
                    </td>
                } else {
                    <td class="editCell@account.getProvider editCell" style="display: none">
                        <input class="text text-middle" type="text" id="clientSecret@account.getProvider" name="clientSecret" form="@account.getProvider()form" value="@account.getClientSecret">
                    </td>
                }
                <td>
                    <a href="javascript:document.@account.getProvider()form.submit()" id="save_@account.getProvider" class="save-btn" style="display: none"><button class="aui-button btn-mini"><span title="Save" class="aui-icon aui-icon-small aui-iconfont-approve"></span></button></a>
                    <a href="#" id="edit_@account.getProvider"><button class="aui-button btn-mini"><span title="Edit" class="aui-icon aui-icon-small aui-iconfont-edit"></span></button></a>
                    <a href="#" id="cancel_@account.getProvider" style="display: none"><button class="aui-button btn-mini"><span title="Cancel" class="aui-icon aui-icon-small aui-iconfont-remove"></span></button></a>
                    @if(!account.getProvider.equals(ServiceProvider.CONFLUENCE)) {
                    <a href="/accounts/authorize/@account.getProvider" id="auth_@account.getProvider"><button class="aui-button btn-mini"><span title="Authorize" class="aui-icon aui-icon-small aui-iconfont-unlocked"></span></button></a>
                    }
                    <a href="#" onclick="$('#status_@account.getProvider').load('/accounts/check/@account.getProvider')"><button class="aui-button btn-mini"><span title="Check Status" class="aui-icon aui-icon-small aui-iconfont-build"></span></button></a>

                </td>
                <td id="status_@account.getProvider"></td>
            </tr>
        }
        </tbody>
    </table>

    @form(routes.AccountController.deleteContacts(), args = 'class -> "aui") {
        <div class="buttons">
            <input class="button submit" type="submit" value="Delete contacts in google enterprise account">
        </div>
    }

    @form(routes.AccountController.deletePhoneContacts(), args = 'class -> "aui") {
        <div class="buttons">
            <input class="button submit" type="submit" value="Delete contacts in google phone account">
        </div>
    }

    <script>
        jQuery(document ).ready(function() {

            jQuery("a[id^='edit']").click(function() {
                var provider = $(this).attr('id' ).replace('edit_', '');
                jQuery('#save_'+provider).show();
                jQuery('#cancel_'+provider).show();
                $(this).hide();
                jQuery('#auth_'+provider).hide();
                jQuery('.editCell'+provider).show();
                jQuery('.textCell'+provider).hide();

            });

            jQuery("a[id^='save']").click(function() {
                var provider = $(this).attr('id' ).replace('save_', '');
                jQuery('#edit_'+provider).show();
                jQuery('#auth_'+provider).show();
                jQuery('#cancel'+provider).hide();
                $(this).hide();
                jQuery('.editCell'+provider).hide();
                jQuery('.textCell'+provider).show();
            });

            jQuery("a[id^='cancel']").click(function() {
                var provider = $(this).attr('id' ).replace('cancel_', '');
                jQuery('#edit_'+provider).show();
                jQuery('#save_'+provider).hide();
                jQuery('#auth_'+provider).show();
                $(this).hide();
                jQuery('.editCell'+provider).hide();
                jQuery('.textCell'+provider).show();
            });

            var sel = document.getElementById ("saveInDirectory") ;
            var matching = "@Settings.getSettings().getSaveInDirectory()";

            for ( i = 0 ; i < sel.length ; i ++ ) {
                if ( sel.children[ i ].value == matching ) {
                    sel.options.selectedIndex = i ;
                    break ;
                }
            }
        });

        AJS.InlineDialog(AJS.$("#serverurlDialog"), "serverurlDialog", "help/serverurl");
        AJS.InlineDialog(AJS.$("#googledomainDialog"), "googledomainDialog", "help/googledomain");
        AJS.InlineDialog(AJS.$("#contactfolderDialog"), "contactfolderDialog", "help/contactfolder")
        AJS.InlineDialog(AJS.$("#cronDialog"), "cronDialog", "help/cron")

    </script>

}