@(lastImport: Date)

@import helper._

@main("Import") {

    This import is to create the groups and user lists manually instead of using cronjob<br/>
    The Job can take up to 30 minutes<br/>
    Last import:
    @if(lastImport != null) {
        @lastImport.format("dd.M.yyyy HH:mm:ss")<br />
    } else {
        no import executed yet<br />
    }

    @form(routes.UserController.importData(), args = 'class -> "aui") {
        <div class="buttons">
            <input class="button submit" type="submit" value="start Import">
        </div>
    }

}