@(entries: List[Logging])

@main("Logs") {
    <table class="aui content-report-table-macro tablesorter">
        <thead>
            <tr class="tablesorter-headerRow">
                <th>#</th>
                <th class="tablesorter-header tablesorter-headerDesc">Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for(i <- entries.length-1 to 0 by -1) {
                <tr>
                    <td>@entries.get(i).getId</td>
                    <td>@entries.get(i).getDate</td>
                    <td>@entries.get(i).getMessage</td>
                </tr>
            }
        </tbody>
    </table>

}