@(entries: List[Logging])

@import helper._

@main("Logs") {

    <table class="aui content-report-table-macro tablesorter">
        <thead>
            <tr class="tablesorter-headerRow">
                <th>#</th>
                <th class="tablesorter-header tablesorter-headerDesc">Datum</th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
        @for(entry <- entries){
            <tr>
                <td>@entry.getId</td>
                <td>@entry.getDate</td>
                <td>@entry.getMessage</td>
            </tr>
        }
        </tbody>
    </table>

}