@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @ac.aui.styles()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                        @*<span class="aui-avatar-inner"> <img alt="Atlassian logo" src="img/avatar-64.png"> </span>*@
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <ol class="aui-nav aui-nav-breadcrumbs">
                        <li><a href="http://example.com/">Breadcrumbs</a></li>
                        <li><a href="http://example.com/" class="custom">Sub-page</a></li>
                        <li class="aui-nav-selected">Direct parent page</li>
                    </ol>
                    <h1>A typical page header with an avatar, breadcrumbs and actions</h1>
                </div>
                <div class="aui-page-header-actions">
                    <div class="aui-buttons">
                        <button class="aui-button">Action</button>
                        <button class="aui-button">Action</button>
                        <button class="aui-button">Action</button>
                    </div>
                </div>
            </div>
        </header>
        <section id="content" role="main">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <div class="aui-page-panel-nav">
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">
                                <div class="aui-nav-heading"><strong>Heading</strong></div>
                                <ul class="aui-nav">
                                    <li class="aui-nav-selected"><a href="#">Selected foo</a></li>
                                    <li><a href="#">Bar</a></li>
                                    <li><a href="#">Baz</a></li>
                                </ul>
                                <ul class="aui-nav">
                                    <li><a href="#">Issues</a></li>
                                    <li><a href="#">Popular issues</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <section class="aui-page-panel-content">
                        @content
                    </section>
                    <aside class="aui-page-panel-sidebar">
                            <!-- tangental content here -->
                    </aside>
                </div>
            </div>
        </section>

        @ac.aui.scripts()
        <script src="//127.0.0.1:1990/confluence/atlassian-connect/all.js" type="text/javascript" data-options="sizeToParent:true"></script>
    </body>
</html>
