@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @ac.aui.styles()
        @ac.aui.scripts()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        @ac.aui.scripts()
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                        @*<span class="aui-avatar-inner"> <img alt="Atlassian logo" src="img/avatar-64.png"> </span>*@
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h1>Enterprise Service Connector</h1>
                </div>
            </div>
        </header>
        <section id="content" role="main">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <div class="aui-page-panel-nav">
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">
                                <div class="aui-nav-heading"><strong>General</strong></div>
                                <ul class="aui-nav">
                                    @*<li class="aui-nav-selected"><a href="#">Selected foo</a></li>*@
                                    <li><a href="/users">Users</a></li>
                                    <li><a href="/users/companies">Companies</a></li>
                                    <li><a href="/users/services">Services</a></li>
                                    <li><a href="/users/import">Manual Import</a></li>
                                </ul>
                                <div class="aui-nav-heading"><strong>Admin</strong></div>
                                <ul class="aui-nav">
                                <li><a href="/accounts">Settings</a></li>
                                <li><a href="/logs">Log</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <section class="aui-page-panel-content">
                        @content
                    </section>
                </div>
            </div>
        </section>


        <script src="//127.0.0.1:1990/confluence/atlassian-connect/all.js" type="text/javascript" data-options="sizeToParent:true"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
    </body>
</html>
