@(services: Array[ServiceProvider], lastImport: Date)

@import helper._

@main("Services") {
    Last Import:
    @if(lastImport != null) {
        @lastImport.format("dd.M.yyyy HH:mm:ss")<br />
    } else {
        No import executed yet.<br />
    }


    @for(service <- services){
        @if(service == ServiceProvider.GMAIL || service == ServiceProvider.CONFLUENCE || service == ServiceProvider.JIRA) {

            <h2>@service</h2>

            <table id="service_table" class="aui content-report-table-macro tablesorter">
                <thead>
                    <tr class="tablesorter-headerRow">
                        <th>Name</th>
                        <th>User</th>
                        <th>Mail</th>
                        <th>Aliases</th>
                    </tr>
                </thead>
                <tbody>
                @for(group <- ServiceGroup.serviceGroups(service)){
                    <tr>
                        <td>@group.getName</td>
                        <td>
                            @for(user <- group.getMembers) {
                                @user.getFullName
                                @if(user.getCompany) {
                                    (@user.getCompany)
                                }
                                <br />
                            }
                        </td>
                        <td>@group.getMail</td>
                        <td>
                        @for(alias <- group.getAliases) {
                            @alias.getName<br />
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    }

    <script>
        $(document).ready( function () {
            $("[id*=service_table]").DataTable({
                "iDisplayLength": 25,
                "scrollY": 1000,
                "scrollX": true,
                "order": [[0, "asc"]]
            });
        });
    </script>


}