@(users: List[ServiceUser], lastImport: Date)

@import helper._

@main("Users") {
    Last import:
    @if(lastImport != null) {
        @lastImport.format("dd.M.yyyy HH:mm:ss")<br />
    } else {
        No import executed yet.<br />
    }


    <table class="aui content-report-table-macro tablesorter">
        <thead>
            <tr class="tablesorter-headerRow">
                <th>Name</th>
                <th>Usergroups</th>
                <th>Access</th>
                <th>Function</th>
                <th>Company</th>
                <th>Contact Data</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- users){
            <tr>
                <td>@user.getFullName</td>
                <td>
                    @for(group <- user.getGroups) {
                        @group.getName<br />
                    }
                </td>
                <td>
                    @if(user.getUsernameGoogle) {
                        Google: @user.getUsernameGoogle<br />
                    }
                    @if(user.getUsernameJira) {
                        Jira: @user.getUsernameJira<br />
                    }
                    @if(user.getUsernameConfluence) {
                        Confluence: @user.getUsernameConfluence<br />
                    }
                </td>
                <td>@user.getFunction</td>
                <td>@user.getCompany</td>
                <td>
                    E-Mail: @user.getMail<br />
                    Phone: @user.getPhoneWork<br />
                    Mobile: @user.getPhoneMobile<br />
                    Company Phone: @user.getPhoneCompany<br />
                    Salesforce: <a>@user.getSalesforceId</a>
                </td>
            </tr>
        }
        </tbody>
    </table>


}