@(users: List[ServiceUser], lastImport: Date)

@import helper._

@main("Users") {
    Last import:
    @if(lastImport != null) {
        @lastImport.format("dd.M.yyyy HH:mm:ss")<br />
    } else {
        No import executed yet.<br />
    }


    <table id="user_table" class="aui content-report-table-macro tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Usergroups</th>
                <th>Access</th>
                <th>Function</th>
                <th>Company</th>
                <th>Contact Data</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- users){
            <tr>
                <td>@user.getFullName</td>
                <td>
                    @for(group <- user.getGroups) {
                        @group.getName (@group.getProvider().toString().toLowerCase())<br />
                    }
                </td>
                <td>
                    @if(user.getUsernameGoogle) {
                        Google: @user.getUsernameGoogle<br />
                    }
                    @if(user.getUsernameJira) {
                        Jira: @user.getUsernameJira<br />
                    }
                    @if(user.getUsernameConfluence) {
                        Confluence: @user.getUsernameConfluence<br />
                    }
                </td>
                <td>@user.getFunction</td>
                <td>@user.getCompany</td>
                <td>
                    @if(user.getMail) {
                        E-Mail: <a href="mailto:@user.getMail">@user.getMail</a><br />
                    }
                    @if(user.getPhoneWork) {
                        Phone: @user.getPhoneWork<br />
                    }
                    @if(user.getPhoneMobile) {
                        Mobile: @user.getPhoneMobile<br />
                    }
                    @if(user.getPhoneCompany) {
                        Company Phone: @user.getPhoneCompany<br />
                    }
                    @if(user.getSalesforceId) {
                        <a target="_blank" href="@user.getSalesforceId">Salesforce Contact</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#user_table').DataTable({
                "iDisplayLength": 25,
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [1] },
                { 'bSortable': false, 'aTargets': [2] },
                { 'bSortable': false, 'aTargets': [3] },
                { 'bSortable': false, 'aTargets': [-1] }
                ],
                "order": [[0, "asc"]]
            });
        } );
    </script>

}